body{
    background: transparent;
    background-image:url(../gambar/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-login{
    margin-top: 13%;
}
.outter-form-login {
    padding: 40px;
    background:rgba(0,0,0,.8);
    position: relative;
    border-radius: 15px;
    transform: translate(-50%,-50%);
    width: 400px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5)
}
.logo-login {
    position: absolute;
    font-size: 35px;
    background: coral;
    color: #ccc;
    padding: 10px 18px;
    top: -40px;
    border-radius: 100%;
    left: 43%;
}
.inner-login .form-control {
    background: #D3D3D3;
    background: transparent;
    top: -18px;
    left: 0;
    color: #03a9f4;
}
h3.title-login {
    color: coral;
    font-size: 20px;
    margin-bottom: 20px;
}

.forget {
    margin-top: 20px;
}
.btn-custom-green {
    background: coral;
    background: transparent;
    border-radius: 100%;
    color: #fff;
}
.Daftar{
    margin-top: 20px;
}
.work{
    margin-top: 350px;
}
.work a{
    color: white;
}
.work a:hover{
    color: black;
}
a{
	text-decoration: none;
	color : coral;
}
a:hover{
	color:#FFFFFF;
    text-decoration: none;
}

